{% extends 'main.html' %}

{% block stylesheets %}
    <link rel="stylesheet" href="../../../css/noticia_imprimir.css"/>
    <link rel="stylesheet" href="../../../css/styles.css"/>
{% endblock %}

{% block title %}
    <title>{{title}} - Ayuntamiento de Granada</title>
{% endblock %}

{% block logo %}
    <img class="logo" alt="Logo del Ayuntamiento de Granada" src="../../../img/logo.png"/>
{% endblock %}

{% block content %}
<header class="noticia-cabecera">
    <h2 class="noticia-titulo">{{title}}</h2>
    
</header>
<div class="noticia-contenido">
    <p class="noticia-texto">
        {{content}}
    </p>
    {% for image in images %}
        <img class="noticia-imagen" src="{{image}}" alt="Imagen de la noticia">
    {% endfor %}
</div>


{% endblock %}
